<ion-view view-title="{{ vmChat.tick | timer }}">
  <!-- <ion-header-bar>
    <div class="buttons">
      <button class="button button-clear">Blah</button>
    </div>
  </ion-header-bar> -->
  <ion-nav-buttons side='right'>
    <button class='button button-clear' ng-if='vmChat.chatFound'><i class='icon ion-person'></i></button>
    <button class='button ditch-button' ng-click='vmChat.ditchChat(true)' ng-if='vmChat.chatFound'>Ditch</button>
  </ion-nav-buttons>
  <ion-content>
    <h1>Chat</h1>

    <!-- Select Discovery Range -->
    <div ng-if='!vmChat.distanceSelected && !vmChat.chatFound'>
      <h3 class='text-center'>Meet people within...</h3>
      <div class='row'>
        <div class='col col-33 text-center' ng-click='vmChat.selectDistance(1)'>
          <i class='icon ion-android-walk distance-icons'></i>
          <p>1 mile</p>
        </div>
        <div class='col col-33 text-center' ng-click='vmChat.selectDistance(2)'>
          <i class='icon ion-android-bicycle distance-icons'></i>
          <p>2 miles</p>
        </div>
        <div class='col col-33 text-center' ng-click='vmChat.selectDistance(5)'>
          <i class='icon ion-android-car distance-icons'></i>
          <p>5 miles</p>
        </div>
      </div>
    </div>

    <!-- Loading, looking for person to chat with -->
    <div class='h2 text-center' ng-if='vmChat.distanceSelected && !vmChat.chatFound && !vmChat.retryUserSearch'>
      <p>Looking for someone...</p>
      <i class='icon ion-load-a'></i>
    </div>

    <!-- Person found, chat template -->
    <div class='h2 text-center' ng-if='vmChat.chatFound'>
      <p> A new challenger appears </p>
      <ul>
        <li ng-repeat='message in vmChat.messageHistory' class='chat-msg' ng-class='{"text-left": !vmChat.isThisUser(message.user), "text-right": vmChat.isThisUser(message.user)}'>
          {{ message.user }}:
          <p> {{ message.message}} </p>
        </li>
      </ul>
      <form ng-submit='vmChat.sendMessage(vmChat.message)'>
        <input type='text' ng-model='vmChat.message' style='width: 100%;' placeholder='Chat message...'>
      </form>
    </div>

    <div class='text-center' ng-if='vmChat.retryUserSearch'>
      <h3> No one is around :( </h3>
      <button class='button button-outline button-balanced button-large' ng-click='vmChat.retrySearch()'>
        Retry Looking For People
      </button>
    </div>

  </ion-content>
</ion-view>
