textarea {
  resize: none;
}

.scroll {
  height: 100%;
}





// LOGIN.HTML

#login-content {
  background: url('../img/new_years.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-title {
  text-align: center;
  margin-top: 20% !important;
  width: 100%;
  color: white;
  font-size: 6em;
  line-height: 1em;
}

.login-subtitle {
  color: white;
  font-size: 1.5em;
  margin-top: 20px;
}

.login-button-container {
  position: absolute;
  bottom: 25%;
  text-align: center;
  width: 100%;
}
// END OF LOGIN.HTML





// ACCOUNTSETUP.HTML

.account-title {
  font-weight: 200;
  margin-top: 1em !important;
}

.account-form {
  margin-top: 1em;
  position: absolute;
  top: 10%;
  bottom: 0;
}

.create-account-btn {
  position: absolute;
  bottom: 10%;
}
// END OF ACCOUNTSETUP.HTML





// CHAT.HTML

//.has-chatbox-footer {
 // bottom: 34px;
//}

.chatpage-display-container {
  margin-top: 30%;
  text-align: center;
}

.distance-icons {
  font-size: 50px;
}

.chat-list {
  margin-bottom: 1em;
}

.chat-msg {
  margin-top: 1em;
  width: 50%;
  font-size: 0.6em;
}

.chat-bubble {
  padding: 5px;
  border-radius: 10px;
}

.other-chatter {
  text-align: left;
  margin-left: 2%;
  margin-right: 50%;

  p {
    background-color: lightgreen;
  }
}

.this-chatter {
  text-align: right;
  margin-left: 50%;
  margin-right: 2%;

  p {
    background-color: lightblue;
  }
}

.ditch-button {
  margin-left: 50px;
  color: red !important;
}

.chat-form {
  width: 100%;
  height: 44px;
  position: fixed;
  padding: 0 5px;
  bottom: 0;

  input {
    width: 100%;
    font-size: 1.4em !important;
    line-height: 1.1em;
    height: 44px;
  }
}
// END OF CHAT.HTML





// PROFILE.HTML

.interests-input-container {
  margin-top: 10px;

  label {
    display: inline-block;
    width: 33%;
    text-align: center;
    padding: 5px;

    input {
      text-align: center;
      padding: 0;
    }
  }
}

.profile-pic {
  border-radius: 50%;
  margin-top: 2em;
}

.age-size {
  font-size: 0.8em;
  font-weight: 300;
}

.interest-list {
  position: absolute;
  bottom: 0;
  left: 2%;
  width: 96%;
  margin: 0;
  text-align: center
}
// END OF PROFILE.HTML





// SETTINGS.HTML

.logout-button {
  position: absolute;
  bottom: 10%;
}
// END OF SETTINGS.HTML