textarea {
  resize: none;
}

.scroll {
  height: 100%;
}

.distance-icons {
  font-size: 50px;
}

.account-title {
  font-weight: 200;
  margin-top: 1em !important;
}

.chat-msg {
  margin-top: 1em;
  width: 50%;
  font-size: 0.6em;
}

.chat-bubble {
  padding: 5px;
  border-radius: 10px;
}

.other-chatter {
  text-align: left;
  margin-left: 2%;
  margin-right: 50%;

  p {
    background-color: lightgreen;
  }
}

.this-chatter {
  text-align: right;
  margin-left: 50%;
  margin-right: 2%;

  p {
    background-color: lightblue;
  }
}

.ditch-button {
  margin-left: 50px;
  color: red !important;
}

.account-form {
  margin-top: 1em;
}

.interests-input-container {
  margin-top: 10px;

  label {
    display: inline-block;
    width: 33%;
    text-align: center;
    padding: 5px;

    input {
      text-align: center;
      padding: 0;
    }
  }
}

.create-account-btn {
  margin-top: 2em !important;
}

.profile-pic {
  border-radius: 50%;
  margin-top: 2em;
}

.age-size {
  font-size: 0.8em;
  font-weight: 300;
}

.interest-list {
  position: absolute;
  bottom: 0;
  left: 2%;
  width: 96%;
  margin: 0;
  text-align: center
}